<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="" >Sistema Especialista</a>
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="como-usar" routerLinkActive="router-link-active">Como usar</a>
        <a class="nav-item nav-link" routerLink="sistemas" routerLinkActive="router-link-active"  >Cadastrar Sistema</a>
        <a class="nav-item nav-link" routerLink="problemas" routerLinkActive="router-link-active">Cadastrar Problema</a>
        <a class="nav-item nav-link" routerLink="fatos" routerLinkActive="router-link-active">Cadastrar Fatos</a>
        <a class="nav-item nav-link" routerLink="resultado" routerLinkActive="router-link-active">Resultado</a>
      </div>
</nav>