<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Sistema Especialista</a>
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="" routerLinkActive="router-link-active">Home</a>
        <a class="nav-item nav-link" routerLink="sistemas" routerLinkActive="router-link-active"  >Cadastrar Sistema</a>
        <a class="nav-item nav-link" routerLink="variaveis" routerLinkActive="router-link-active">Cadastrar Variáveis / Objetivos</a>
        <a class="nav-item nav-link" routerLink="regras" routerLinkActive="router-link-active">Cadastrar Regras</a>
      </div>
</nav>