<div class="row" style="justify-content: center;">
    <div class="col-md-8" style="text-align: center; margin:30px 0px 30px 0px">
        <h3>Resultado do sistema</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <select class="form-select" [(ngModel)]="idSistemaSelecionado" (change)="carregarProblemas()">
            <option value = 0 disabled selected>Selecione um sistema</option>
            <option *ngFor="let sistema of sistemas" value={{sistema.id}}>{{ sistema.nomeSistema }}</option>
        </select>
    </div>    
</div>

<div *ngIf="idSistemaSelecionado != 0">
    <div class="row" *ngFor="let problema of problemas; let y = index">
        <div class="col-md-12 titleProblem" style="flex-direction: row;">
            <h1>Problema {{y+1}} - {{problema.nomeProblema}} 
                
            </h1> 
            
        </div>
        <div class="col-md-4" style="text-align: center;" *ngFor="let fato of problema.fatos; let i = index" >
            <div class="card">
                <div class="card-header">
                    <div style="float: left;">
                        Pergunta {{i + 1}} - {{fato.valorFato}}
                    </div>
                    <fa-icon style="cursor: default; float: right;" placement="top" [ngbTooltip]="fato.motivo" [icon]="faCircleInfoIcon"></fa-icon>
                </div>
                <div class="card-body">
                    <h5 class="card-title"> {{fato.descricao}} </h5>
                    <div>
                        <button type="button" class="btn btn-success" style="margin-right: 10px;" (click)="afterAnswer('true', problema, fato.id)">Verdadeiro</button>
                        <button type="button" class="btn btn-danger" (click)="afterAnswer('false', problema, fato.id)">Falso</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" >
            <div *ngIf="problema.resposta != null" style="margin: 10px 0px 10px 0px; text-align: center;">
                <h2>O problema {{y + 1}} alegou <b [ngClass]="problema.resposta == 'positivo' ? 'postivo' : 'negativo'" >{{problema.resposta}}</b> </h2>
            </div>
        </div>
    </div>
</div>

