<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <h1> Primero passo </h1>
        <p> Clicar no menu de cadastrar sistema e criar o seu sistema. </p>
    </div>    
</div>
<hr>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <h1> Segundo passo </h1>
        <p> Após ter o sistema cadastrado vá no menu de cadastrar problema. </p>
        <p> Selecione seu sistema, cadastre o problema e insira o motivo daquele problema. </p>
        <p> O problema é uma situação que o usuário pode ter. </p>
    </div>    
</div>
<hr>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <h1> Terceiro passo </h1>
        <p> Após ter cadastrado todos os problemas vá no menu de cadastrar fatos. </p>
        <p> Selecione seu sistema, selecione seu problema e cadastre o fato e o motivo da pergunta. </p>
        <p> O fato vai ter as situações (de sim ou não) que podem gerar aquele problema.</p>
    </div>    
</div>
<hr>
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <h1> Quarto passo </h1>
        <p> Após ter cadastrado todos os fatos vá no menu de resultado. </p>
        <p> Selecione seu sistema, selecione seu problema e responda as perguntas na <b>ordem correta!</b> </p>
        <p> Após ter respondido todas, o sistema irá alegar se seu problema deu positivo ou negativo.</p>
    </div>    
</div>
<hr>