<div class="row" > 
    <div class="col-md-12" style="text-align: center;">
        <img class="cotemig_home_image" src="../../../../assets/logoCotemig.jpg" >
    </div>
    <div class="col-md-12" style="text-align: center; margin-top: 10px;">
        <h1>Sistema Especialista</h1>
        <p>Trabalho do professor Enock na disciplica de Inteligencia Artificial</p>
        <p>Projeto desenvolvidor por: Pedro Henrique, Lucas Siqueira, Juan França, Bernardo Souza e Juliano Lucca</p>
    </div>
</div>