<div class="row" style="justify-content: center;">
    <div class="col-md-8" style="text-align: center; margin:30px 0px 30px 0px">
        <h3>Cadastro de fatos</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <select class="form-select" [(ngModel)]="idSistemaSelecionado" (change)="carregarProblemas()">
            <option value = 0 selected>Selecione um sistema</option>
            <option *ngFor="let sistema of sistemas" value={{sistema.id}}>{{ sistema.nomeSistema }}</option>
        </select>
    </div>    
</div>

<div class="row" *ngIf="idSistemaSelecionado != 0">
  <div class="col-md-12" style="text-align: center;">
      <select class="form-select" [(ngModel)]="idProblemaSelecionado" (change)="carregarFatos()">
          <option value = 0 selected>Selecione um problema</option>
          <option *ngFor="let problema of problemas" value={{problema.id}}>{{ problema.nomeProblema }}</option>
      </select>
  </div>    
</div>

  <div *ngIf="idProblemaSelecionado != 0">
    <div class="row" style="justify-content: center;">
        <div class="col-md-8" >
            <table class="table">
                <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col" >Fato</th>
                      <th scope="col" >Pergunta</th>
                      <th scope="col" >Motivo da pergunta</th>
                      <th scope="col" >Resposta</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngFor="let fato of fatos">
                    <tr>
                      <td>{{fato.id}}</td>
                      <td>{{fato.valorFato}}</td>
                      <td>{{fato.descricao}}</td>
                      <td>{{fato.motivo}}</td>
                      <td>{{fato.resposta == 'true' ? 'Verdadeiro' : 'Falso'}}</td>
                      <td> <button class="btn btn-info" (click)="openEditFato(fato.id)">Editar</button></td>
                      <td> <button class="btn btn-danger" (click)="openDeleteFato(fato.id)">Deletar</button></td>
                    </tr>
                </tbody> 
             </table>
        </div>
    </div>
    <div class="row" style="justify-content: center;">
        <div class="col-md-8">
            <button class="btn btn-success" (click)="openCadastroFato()" >
              Cadastrar novo fato
            </button>
        </div>
    </div>
    
  </div>
  
  <!-- Model cadastrar fato -->
  <div class="dialog-container" *ngIf="dialogCadastrarFatos.visible">
    <div class="dialog-filter" (click)="dialogCadastrarFatos.onCancel()"></div>
    <div class="dialog-card">
      <div class="dialog-head dlhd" style="margin-top: 20px;">
        <div>
          <span class="title_dialog">{{ dialogCadastrarFatos.title }}</span>
        </div>
        <div class="dialog-close-icon dialog-icon" (click)="dialogCadastrarFatos.onCancel()">
          <i class="bi bi-x"></i>
        </div>
      </div>
      <div class="dialog-body">
        <form [formGroup]="formFato">
          <label>Nome do fato: </label>
          <input class="form-control" type="text" formControlName="valorFato">
          <label>Pergunta: </label>
          <input class="form-control" type="text" formControlName="descricao">
          <label>Motivo da pergunta: </label>
          <input class="form-control" type="text" formControlName="motivo">
          <label>Resposta: </label>
          <select class="form-control form-select" formControlName="resposta">
            <option value="true">Verdadeiro</option>
            <option value="false">Falso</option>
          </select>
        </form>
      </div>
      <div class="dialog-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="dialogCadastrarFatos" (click)="dialogCadastrarFatos.onCancel()">
          Cancelar
        </button>
        <button type="button" class="btn btn-outline-success" (click)="dialogCadastrarFatos.onOk()">
          Salvar
        </button>
      </div>
    </div>
  </div>
  <!-- Model cadastrar fato -->
  
  <!-- Model editar fato -->
  <div class="dialog-container" *ngIf="dialogEditFato.visible">
    <div class="dialog-filter" (click)="dialogEditFato.onCancel()"></div>
    <div class="dialog-card">
      <div class="dialog-head dlhd" style="margin-top: 20px;">
        <div>
          <span class="title_dialog">{{ dialogEditFato.title }}</span>
        </div>
        <div class="dialog-close-icon dialog-icon" (click)="dialogEditFato.onCancel()">
          <i class="bi bi-x"></i>
        </div>
      </div>
      <div class="dialog-body">
        <form [formGroup]="formEditFato">
          <label>Nome do fato: </label>
          <input class="form-control" type="text" formControlName="valorFato">
          <label>Pergunta: </label>
          <input class="form-control" type="text" formControlName="descricao">
          <label>Motivo da pergunta: </label>
          <input class="form-control" type="text" formControlName="motivo">
          <label>Resposta: </label>
          <select class="form-control form-select" formControlName="resposta">
            <option value="true">Verdadeiro</option>
            <option value="false">Falso</option>
          </select>
        </form>
      </div>
      <div class="dialog-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="dialogEditFato" (click)="dialogEditFato.onCancel()">
          Cancelar
        </button>
        <button type="button" class="btn btn-outline-success" (click)="dialogEditFato.onOk()">
          Salvar
        </button>
      </div>
    </div>
  </div>
  <!-- Model editar fato -->
  
  <!-- Model excluir fato -->
  <div class="dialog-container" *ngIf="dialogDeleteFato.visible">
    <div class="dialog-filter" (click)="dialogDeleteFato.onCancel()"></div>
    <div class="dialog-card">
      <div class="dialog-head dlhd" style="margin-top: 20px;">
        <div>
          <span class="title_dialog">{{ dialogDeleteFato.title }}</span>
        </div>
        <div class="dialog-close-icon dialog-icon" (click)="dialogDeleteFato.onCancel()">
          <i class="bi bi-x"></i>
        </div>
      </div>
      <div class="dialog-body">
       <p>
         Deseja realmente excluir este o sistema?
       </p> 
      </div>
      <div class="dialog-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="dialogDeleteFato" (click)="dialogDeleteFato.onCancel()">
          Cancelar
        </button>
        <button type="button" class="btn btn-outline-success" (click)="dialogDeleteFato.onOk()">
          Salvar
        </button>
      </div>
    </div>
  </div>
  <!-- Model excluir fato -->